
@{
    ViewBag.Title = "Index";
}

<form method="post" action="">
	<input type="hidden" value="@ViewBag.Login" name="LoginPassword" />
	<p>Введите логин </p>
	<input type="text" name="Login" />
	<p>Введите пароль :</p>
	<input type="password" name="Password" />
	<input type="submit" value="Вход" />
</form>


